{% load static %}
{% include "menu.html" %}

<div class="container text-center" style="margin-top: 50px;">
    <h1 class="display-4">FLUXO DE CAIXA</h1>
</div>

<div class="container-fluid mt-4">
    <div class="row">
        <!-- Card 1: Planejamento Financeiro -->
        <div class="col-lg-4 mb-4 d-flex">
            <div class="card shadow mb-4 w-100">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Planejamento Financeiro</h6>
                </div>
                <div class="card-body">
                    <h6>O verdadeiro segredo para o sucesso financeiro está na habilidade de criar um plano financeiro sólido, onde cada dólar trabalha para você. Aprenda a fazer seu dinheiro trabalhar mais duro do que você e esteja no controle de seu destino financeiro.</h6>
                    <p>Robert Kiyosaki</p>
    
                    <div class="frase">
                        <h6>"O dinheiro que você ganha é como um soldado; envie-o para a batalha diariamente, e ele trabalhará arduamente para você e ganhará mais soldados."</h6>
                        <p>- Howard Marks</p>
                    </div>
    
                    <div class="frase">
                        <h6>Use o dinheiro para ter controle sobre o seu tempo, porque não ter controle sobre seu tempo é um empecilho universal, e muito forte, para a felicidade.</h6>
                        <p>- Morgan Housel</p>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Card 2: Estratégia de Investimentos -->
        <div class="col-lg-4 mb-4 d-flex">
            <div class="card shadow mb-4 w-100">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Estratégia de Investimentos</h6>
                </div>
                <div class="card-body text-center">
                    <img src="https://global-uploads.webflow.com/5fb41319211e00cfa1c1ddd7/636bf035728b68e6498f3e1a_img-legenda-2.png" class="img-fluid" alt="Descrição da imagem">
                </div>
            </div>
        </div>
    
        <!-- Card 3: Ações -->
        <div class="col-lg-4 mb-4 d-flex">
            <div class="card shadow mb-4 w-100">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">AÇÕES</h6>
                </div>
                <div class="card-body text-center">
                    <img src="{% static 'img/barsi estrategia.png' %}" class="img-fluid" alt="Descrição da imagem">
                </div>
            </div>
        </div>
    </div>
    
</div>
