{% include 'menu.html' %}
<html>
    <head>
        <title>Cash Flow</title>

        <!-- Inclua os arquivos CSS e JavaScript do Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>

        
        <div class="container" style="margin-top: 70px;">
            <div class="row">
                <div class="col-md-3">
                    <!-- Conteúdo principal aqui -->
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <form method="get" class="border p-4">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <select id="month" name="month" class="form-control">
                                            <option value="" selected>Escolha o Mês</option>
                                            <option value="01" {% if selected_month == '01' %}selected{% endif %}>Janeiro</option>
                                            <option value="02" {% if selected_month == '02' %}selected{% endif %}>Fevereiro</option>
                                            <option value="03" {% if selected_month == '03' %}selected{% endif %}>Março</option>
                                            <option value="04" {% if selected_month == '04' %}selected{% endif %}>Abril</option>
                                            <option value="05" {% if selected_month == '05' %}selected{% endif %}>Maio</option>
                                            <option value="06" {% if selected_month == '06' %}selected{% endif %}>Junho</option>
                                            <option value="07" {% if selected_month == '07' %}selected{% endif %}>Julho</option>
                                            <option value="08" {% if selected_month == '08' %}selected{% endif %}>Agosto</option>
                                            <option value="09" {% if selected_month == '09' %}selected{% endif %}>Setembro</option>
                                            <option value="10" {% if selected_month == '10' %}selected{% endif %}>Outubro</option>
                                            <option value="11" {% if selected_month == '11' %}selected{% endif %}>Novembro</option>
                                            <option value="12" {% if selected_month == '12' %}selected{% endif %}>Dezembro</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <select id="year" name="year" class="form-control">
                                            <option selected>Escolha o Ano</option>
                                            <option value="2023" {% if selected_year == '2023' %}selected{% endif %}>2023</option>
                                            <option value="2024" {% if selected_year == '2024' %}selected{% endif %}>2024</option>
                                            <option value="2025" {% if selected_year == '2025' %}selected{% endif %}>2025</option>
                                            <option value="2026" {% if selected_year == '2026' %}selected{% endif %}>2026</option>
                                            <option value="2027" {% if selected_year == '2027' %}selected{% endif %}>2027</option>
                                            <option value="2028" {% if selected_year == '2028' %}selected{% endif %}>2028</option>
                                            <option value="2029" {% if selected_year == '2029' %}selected{% endif %}>2029</option>
                                            <option value="2030" {% if selected_year == '2030' %}selected{% endif %}>2030</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col">
                                    <input type="hidden" id="start_date" name="start_date" />
                                    <input type="hidden" id="end_date" name="end_date" />
                            
                                    <button type="submit" class="btn btn-primary">Filtrar</button>
                                </div>
                            </div>
                        </form>
                    
                    </div>

                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            const monthSelect = document.getElementById("month");
                            const yearInput = document.getElementById("year");
                            const startDateInput = document.getElementById("start_date");
                            const endDateInput = document.getElementById("end_date");

                            monthSelect.addEventListener("change", updateDateFields);
                            yearInput.addEventListener("input", updateDateFields);

                            // Função para atualizar os campos de data
                            function updateDateFields() {
                                const selectedMonth = monthSelect.value;
                                const selectedYear = yearInput.value;
                                const lastDay = new Date(selectedYear, selectedMonth, 0).getDate();
                                const startDate = `${selectedYear}-${selectedMonth}-01`;
                                const endDate = `${selectedYear}-${selectedMonth}-${lastDay}`;
                                startDateInput.value = startDate;
                                endDateInput.value = endDate;
                            }

                            // Chame a função inicialmente
                            updateDateFields();
                        });
                    </script>
                </div>
            </div>
        </div>
        

        <!-- Adicione o link para o arquivo JavaScript do Bootstrap (opcional) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    </body>
</html>
