{% load static %}
{% include "menu.html" %}


<div class="container text-center" style="margin-top: 50px;">
    <h1 class="display-4">DESPESAS</h1>
</div>


<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="{% url "despesas" %}">DESPESAS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url "dash_despesa" %}">DETALHE</a>
    </li>
</ul>


<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                DESPESAS TOTAL</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$ {{ soma_despesas_total }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <!-- Card 1: Planejamento Financeiro -->
        <div class="col-lg-4 mb-4 d-flex">
            <div class="card shadow mb-4 w-100">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">GRAFICO DE BARRAS</h6>
                </div>
                <div class="card-body">
                    <canvas id="barChart" width="400" height="400"></canvas>
                    <script>
                        // Dados da sua queryset
                        var labels = [];
                        var data = [];

                        // Iterar sobre a queryset e extrair os valores
                        {% for item in data %}
                            labels.push('{{ item.fonte_despesas }}');
                            data.push({{ item.total }});
                        {% endfor %}

                        // Verifica se a variável data está vazia
                        if (data !== null && data !== undefined) {
                            var chartData = {
                                labels: labels,
                                datasets: [{
                                    label: 'Valor de Despesas',
                                    data: data,
                                    backgroundColor: 'rgba(75, 192, 192, 0.5)',
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 1
                                }]
                            };

                            var ctx = document.getElementById('barChart').getContext('2d');
                            var myBarChart = new Chart(ctx, {
                                type: 'bar',
                                data: chartData,
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        } else {
                            // Caso a variável data esteja vazia, oculta o canvas
                            document.getElementById('barChart').style.display = 'none';
                        }
                    </script>
                </div>
            </div>
        </div>
    
        <div class="col-lg-4 mb-4 d-flex">
            <div class="card shadow mb-4 w-100">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">GRAFICO DE PIZZA</h6>
                </div>
                <div class="card-body text-center">
                    <canvas id="myChart" width="400" height="400"></canvas>
                    <script>
                        // Dados da sua queryset
                        var labels = [];
                        var data = [];

                        // Iterar sobre a queryset e extrair os valores
                        {% for item in data %}
                            labels.push('{{ item.fonte_despesas }}');
                            data.push({{ item.total }});
                        {% endfor %}
                
                        // Verifica se a variável data está vazia
                        if (data !== null && data !== undefined) {
                            var chartData = {
                                labels: labels,
                                datasets: [{
                                    data: data,
                                    backgroundColor: [
                                        'red',
                                        'blue',
                                        'green',
                                        'orange',
                                        'purple',
                                        'pink',
                                        'brown',
                                        'cyan',
                                        'gray'
                                    ]
                                }]
                            };

                            var ctx = document.getElementById('myChart').getContext('2d');
                            var myPieChart = new Chart(ctx, {
                                type: 'pie',
                                data: chartData
                            });
                        } else {
                            // Caso a variável data esteja vazia, oculta o canvas
                            document.getElementById('myChart').style.display = 'none';
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>


